* {
    padding: 0;
    margin: 0;
    font-family: 'Source Serif Pro','Lato', serif , sans-serif;
    box-sizing: border-box;
    background-image: url("assets/achtergrond.avif");
    background-size: cover;
}

/* navigatiebalk */
nav {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;

}

.pijltje {
    display: inline;
    text-align: left;
}

.pijltje img {
    display: inline;
    width: 189px;
    height: 54px;
    padding: 10px;
}

.logomanon {
    display: inline;
}

.logomanon img {
    display: inline-block;
    width: 126px;
    height: 54px;
    padding: 10px;
}

/* header */

header img {
    width: 621px;
    height: 633px;
    padding: 50px;
    justify-content: space-around;
}
.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

header p {
    color: #382E13;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 15px;
}

header h1 {
    color: #382E13;
    font-size: 50px;
    padding-left: 20px;
    padding-right: 15px;
}

/* main-gedeelte */

main {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}

main h1 {
    color: #382E13;
    font-size: 50px;
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 10px;

}

main h2 {
    color: #382E13;
    font-size: 40px;
    padding-left: 30px;
}

main p {
    color: #382E13;
    font-size: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

main img {
    width: 450px;
    height: 450px;
    padding: 1rem;
}

.photoshop {
    display: flex;
    padding: 15px;
}

.illustrator {
    display: flex;
    padding: 15px;
}

.werkjes {
    padding: 5px;
}

#sectie2 {
    flex-direction: row;
}

.schoolopdrachten {
    padding: 1rem;
}

.schoolopdrachten h1 {
    font-size: 40px;
    padding: 5px 30px;
}

.schoolopdrachten h2 {
    font-size: 30px;
    padding-left: 30px;
    padding-top: 25px;
}

.schoolopdrachten p {
    font-size: 20px;
    padding-left: 30px;
    padding-top: 15px;
}

.schoolopdrachten ul li {
    font-size: 20px;
    padding-left: 30px;
    padding-top: 15px;
    list-style: inside;
}

main a {
    color: #d4af34;
}

main a:hover {
    font-size: 40px;
    text-decoration: underline dotted;
}

footer {
    width: 100%;
    color: #d4af34;
    text-align: right;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}


@media only screen and (max-width: 900px) {
    .pijltje img {
        width: 60%;
        padding-left: 1rem;

    }

    .logomanon img {
        position: relative;
        width: 60%;
        padding-right: 1rem;
    }

    header img {
        display: inline-block;
        flex-direction: column;
        margin: 1rem;
        width: 100%;
        justify-content: center;
    }

    header p, header h1 {
        text-align: left;
        padding: 1rem;
        flex-direction: column;
    }

    main img {
        flex-direction: column;
    }
    /* .textorb{
        display: none;
    }
    div#header__h1_title h1{
        font-size: 100px;
        margin: 0;
    }
    section h2{
        padding-top: 80px;
        font-size: 70px;
    }
    #aboutme div img{
        margin-top: 2rem;
    }
    #aboutme #aboutme__text_and_picture{
        flex-direction: column;
        width: 100%;
    }
    .wplassignments ul li a{
        font-size: 20px;
    }
    .wplassignments ul li{
        margin: 0.5rem 0;
    }

     */
}
@media only screen and (max-width: 620px) {
    nav {
        align-content: space-evenly;
        padding: 1rem;
    }
    .pijltje {
        display: inline;
        text-align: left;
    }

    .pijltje img {
        display: inline;
        width: 189px;
        height: 54px;
        padding: 5px;
    }

    .logomanon {
        display: inline;
    }

    .logomanon img {
        display: inline-block;
        width: 126px;
        height: 54px;
        padding: 10px;
    }
    header img {
        flex: 60%;
    }
    main {
        flex-direction: column;
    }
   /* nav#nav__iphone{
        display: block;
    }
    nav#nav__web_ipad{
        display: none;
    }
    section#home{
        background-image: url("assets/.png");
        padding-top: 1rem;
    }
    #header__h1_title{
        flex-direction: column;
        align-content: flex-start;
        line-height: 130px;
    }
    #home #header__h1_title h1{
        font-size: 130px;
    }
    #header__h1_title h1:nth-child(2){
        text-align: right;
    }
    #header__extrainfo{
        padding-top: 1rem;
    }
    #home #header__socialslinks{
        width: 80%;
    }
    section h2{
        padding-top: 20px;
    }
    #aboutme #aboutme__text_and_picture p{
        font-size: 20px;
        width: 70%;
        margin-bottom: 1rem;
    }
    section#projects{
        padding-bottom: 4rem;
    }
    section#projects h2{
        text-align: left;
    }
    .projectcolumn {
        flex: 100%;
        max-width: 100%;
    }
    footer ul{
        width: 80%;
        justify-content: space-between;
    }
    footer p a{
        font-size: 24px;
    }

    */
}
@media only screen and (max-width: 400px) {
    #home #header__h1_title h1{
        font-size: 100px;
    }
    #aboutme__text_and_picture img{
        width: 200px;
    }
}

